LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-4"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Azure AD Integrated Connection"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      }
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      }
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_encryptConnection": {
      "type": "bool",
      "metadata": {
        "description": "Encrypt Connection"
      }
    },
    "sql_1_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "azuread_3_Connection_Name": {
      "type": "string",
      "defaultValue": "azuread-3"
    },
    "azuread_3_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "jonathan@sbmitrahotmail.onmicrosoft.com"
    },
    "azuread_3_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each_Employee": {
              "type": "Foreach",
              "foreach": "@triggerBody()?['employees']",
              "actions": {
                "Execute_stored_procedure_(V2)": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "addressline1": "@items('For_each_Employee')?['fields']?['AddressLine1']",
                      "addressline2": "@items('For_each_Employee')?['fields']?['AddressLine2']",
                      "city": "@items('For_each_Employee')?['fields']?['City']",
                      "country": "@items('For_each_Employee')?['fields']?['Country']",
                      "department": "@items('For_each_Employee')?['fields']?['Department']",
                      "employementstatus": "@items('For_each_Employee')?['fields']?['EmploymentStatus']",
                      "firstname": "@items('For_each_Employee')?['fields']?['FirstName']",
                      "fullname": "@items('For_each_Employee')?['fields']?['FirstnameLastname']",
                      "homephone": "@items('For_each_Employee')?['fields']?['HomePhone']",
                      "jobTitle": "@items('For_each_Employee')?['fields']?['JobTitle']",
                      "lastname": "@items('For_each_Employee')?['fields']?['LastName']",
                      "location": "@items('For_each_Employee')?['fields']?['Location']",
                      "mobilephone": "@items('For_each_Employee')?['fields']?['MobilePhone']",
                      "state": "@items('For_each_Employee')?['fields']?['State']",
                      "supervisorname": "@items('For_each_Employee')?['fields']?['Supervisorname']",
                      "workemail": "@items('For_each_Employee')?['fields']?['WorkEmail']",
                      "workphone": "@items('For_each_Employee')?['fields']?['WorkPhone']",
                      "zipcode": "@items('For_each_Employee')?['fields']?['ZipCode']"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('e78-onboarding-sqldb.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('e78-onboarding'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[add_Employee]'))}"
                  },
                  "runAfter": {}
                },
                "Get_user": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuread']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/v1.0/users/@{encodeURIComponent(items('For_each_Employee')?['fields']?['WorkEmail'])}"
                  },
                  "runAfter": {
                    "For_each_for_retrieving_empId_and_password_": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_for_retrieving_empId_and_password_": {
                  "type": "Foreach",
                  "foreach": "@body('Execute_stored_procedure_(V2)')?['resultsets']?['Table1']",
                  "actions": {
                    "Set_variable_for_EmployeeID": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Employee_ID",
                        "value": "@items('For_each_for_retrieving_empId_and_password_')?['empId']"
                      },
                      "runAfter": {}
                    },
                    "Set_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Password",
                        "value": "@items('For_each_for_retrieving_empId_and_password_')?['password']"
                      },
                      "runAfter": {
                        "Set_variable_for_EmployeeID": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Execute_stored_procedure_(V2)": [
                      "Succeeded"
                    ]
                  }
                },
                "Set_variable_for_Azure_UPN": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Azure_UPN",
                    "value": "@body('Get_user')?['userPrincipalName']"
                  },
                  "runAfter": {
                    "Get_user": [
                      "Succeeded",
                      "Failed"
                    ]
                  }
                },
                "Azure_User_Exist_or_not": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@variables('Azure_UPN')",
                          "@items('For_each_Employee')?['fields']?['WorkEmail']"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Execute_stored_procedure_(V2)_2": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "employeeId": "@variables('Employee_ID')",
                          "processed": -1,
                          "reason": "User already exist"
                        },
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('e78-onboarding-sqldb.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('e78-onboarding'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[update_Employee]'))}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Set_variable_for_Azure_UPN": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Create_user": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['azuread']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "accountEnabled": true,
                            "displayName": "@items('For_each_Employee')?['fields']?['FirstName']",
                            "mailNickname": "@items('For_each_Employee')?['fields']?['LastName']",
                            "passwordProfile": {
                              "password": "@variables('Password')"
                            },
                            "userPrincipalName": "@items('For_each_Employee')?['fields']?['WorkEmail']",
                            "givenName": "@items('For_each_Employee')?['fields']?['FirstName']",
                            "surname": "@items('For_each_Employee')?['fields']?['LastName']",
                            "department": "@items('For_each_Employee')?['fields']?['Department']",
                            "jobTitle": "@items('For_each_Employee')?['fields']?['JobTitle']",
                            "mobilePhone": "@items('For_each_Employee')?['fields']?['MobilePhone']"
                          },
                          "path": "/v1.0/users"
                        },
                        "runAfter": {}
                      },
                      "Execute_stored_procedure_(V2)_3": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['sql_1']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "employeeId": "@variables('Employee_ID')",
                            "processed": 1,
                            "processedBy": "Logic-App"
                          },
                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('e78-onboarding-sqldb.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('e78-onboarding'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[update_Employee]'))}"
                        },
                        "runAfter": {
                          "Create_user": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Execute_stored_procedure_(V2)_4": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['sql_1']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "employeeId": "@variables('Employee_ID')",
                            "processed": -1,
                            "reason": "@body('Parse_JSON')?['error']?['message']"
                          },
                          "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('e78-onboarding-sqldb.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('e78-onboarding'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[update_Employee]'))}"
                        },
                        "runAfter": {
                          "Parse_JSON": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Condition_For_Employement_Status_Check": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@items('For_each_Employee')?['fields']?['EmploymentStatus']",
                                "Contractor"
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "Add_user_to_Contractor_Group": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['azuread']['connectionId']"
                                }
                              },
                              "method": "post",
                              "body": {
                                "@@odata.id": "@body('Create_user')?['id']"
                              },
                              "path": "/v1.0/groups/@{encodeURIComponent('dabe6716-4847-442d-b582-362215c35bee')}/members/$ref"
                            },
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "Execute_stored_procedure_(V2)_3": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Condition_For_Employement_Status_Check_2": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@items('For_each_Employee')?['fields']?['EmploymentStatus']",
                                      "Full-Time"
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Add_user_to_FTE__group": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['azuread']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "@@odata.id": "@body('Create_user')?['id']"
                                    },
                                    "path": "/v1.0/groups/@{encodeURIComponent('59417a71-4df0-475d-a14e-4d7496afb754')}/members/$ref"
                                  },
                                  "runAfter": {}
                                }
                              },
                              "runAfter": {}
                            }
                          }
                        }
                      },
                      "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                          "content": "@body('Create_user')",
                          "schema": {
                            "type": "object",
                            "properties": {
                              "error": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "innerError": {
                                    "type": "object",
                                    "properties": {
                                      "date": {
                                        "type": "string"
                                      },
                                      "request-id": {
                                        "type": "string"
                                      },
                                      "client-request-id": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Create_user": [
                            "Failed"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Initialize_variable_for_Password": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_for_Azure_UPN": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Azure_UPN",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            },
            "Initialize_variable_for_EmployeeID": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Employee_ID",
                    "type": "float",
                    "value": 0
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable_for_Azure_UPN": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_for_Password": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Password",
                    "type": "string",
                    "value": "null"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable_for_EmployeeID": [
                  "Succeeded"
                ]
              }
            },
            "Response_2": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "Successfully Done "
              },
              "runAfter": {
                "For_each_Employee": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "employees": {
                      "items": {
                        "properties": {
                          "changedFields": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "fields": {
                            "properties": {
                              "FirstName": {
                                "type": "string"
                              },
                              "LastName": {
                                "type": "string"
                              },
                              "Department": {
                                "type": "string"
                              },
                              "JobTitle": {
                                "type": "string"
                              },
                              "Location": {
                                "type": "string"
                              },
                              "FirstnameLastname": {
                                "type": "string"
                              },
                              "HomePhone": {
                                "type": "string"
                              },
                              "MobilePhone": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "Supervisorname": {
                                "type": "string"
                              },
                              "WorkEmail": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "Country": {
                                "type": "string"
                              },
                              "WorkPhone": {
                                "type": "string"
                              },
                              "AddressLine1": {
                                "type": "string"
                              },
                              "AddressLine2": {
                                "type": "string"
                              },
                              "ZipCode": {
                                "type": "string"
                              },
                              "EmploymentStatus": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "changedFields",
                          "fields",
                          "id"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "azuread": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuread')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuread_3_Connection_Name'))]",
                "connectionName": "[parameters('azuread_3_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuread_3_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "encryptConnection": "[parameters('sql_1_encryptConnection')]",
          "privacySetting": "[parameters('sql_1_privacySetting')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azuread_3_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuread')]"
        },
        "displayName": "[parameters('azuread_3_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('azuread_3_token:TenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}