LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-4"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Azure AD Integrated Connection"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      }
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      }
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_encryptConnection": {
      "type": "bool",
      "metadata": {
        "description": "Encrypt Connection"
      }
    },
    "sql_1_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "azuread_3_Connection_Name": {
      "type": "string",
      "defaultValue": "azuread-3"
    },
    "azuread_3_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "jonathan@sbmitrahotmail.onmicrosoft.com"
    },
    "azuread_3_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "Request Success "
              },
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@triggerBody()?['employees']",
              "actions": {
                "Execute_stored_procedure_(V2)": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "city": "@items('For_each')?['fields']?['City']",
                      "department": "@items('For_each')?['fields']?['Department']",
                      "displayName": "@items('For_each')?['fields']?['PreferredName']",
                      "email": "@items('For_each')?['fields']?['WorkEmail']",
                      "employeeType": "@items('For_each')?['fields']?['EmploymentStatus']",
                      "firstname": "@items('For_each')?['fields']?['FirstName']",
                      "jobTitle": "@items('For_each')?['fields']?['JobTitle']",
                      "lastname": "@items('For_each')?['fields']?['LastName']",
                      "mobilePhone": "@items('For_each')?['fields']?['MobilePhone']",
                      "state": "@items('For_each')?['fields']?['State']"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('e78-onboarding-sqldb.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('e78-onboarding'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[us_Employee]'))}"
                  },
                  "runAfter": {}
                },
                "Create_user": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuread']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "accountEnabled": true,
                      "displayName": "@items('For_each')?['fields']?['FirstName']",
                      "mailNickname": "@items('For_each')?['fields']?['LastName']",
                      "passwordProfile": {
                        "password": "P@55word"
                      },
                      "userPrincipalName": "@{items('For_each')?['fields']?['LastName']}@sbmitrahotmail.onmicrosoft.com",
                      "givenName": "@items('For_each')?['fields']?['FirstName']",
                      "surname": "@items('For_each')?['fields']?['LastName']",
                      "department": "@items('For_each')?['fields']?['Department']",
                      "jobTitle": "@items('For_each')?['fields']?['JobTitle']",
                      "mobilePhone": "@items('For_each')?['fields']?['MobilePhone']"
                    },
                    "path": "/v1.0/users"
                  },
                  "runAfter": {
                    "Get_user": [
                      "Failed"
                    ]
                  }
                },
                "Add_user_to_group": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuread']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "@@odata.id": "@body('Create_user')?['id']"
                    },
                    "path": "/v1.0/groups/@{encodeURIComponent('dabe6716-4847-442d-b582-362215c35bee')}/members/$ref"
                  },
                  "runAfter": {
                    "Create_user": [
                      "Succeeded"
                    ]
                  }
                },
                "Get_user": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuread']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/v1.0/users/@{encodeURIComponent(items('For_each')?['fields']?['LastName'],'@sbmitrahotmail.onmicrosoft.com')}"
                  },
                  "runAfter": {
                    "Execute_stored_procedure_(V2)": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "employees": {
                      "items": {
                        "properties": {
                          "changedFields": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "fields": {
                            "properties": {
                              "FirstName": {
                                "type": "string"
                              },
                              "LastName": {
                                "type": "string"
                              },
                              "PreferredName": {
                                "type": "string"
                              },
                              "JobTitle": {
                                "type": "string"
                              },
                              "Department": {
                                "type": "string"
                              },
                              "MobilePhone": {
                                "type": "string"
                              },
                              "City": {
                                "type": "string"
                              },
                              "State": {
                                "type": "string"
                              },
                              "EmploymentStatus": {
                                "type": "string"
                              },
                              "WorkEmail": {
                                "type": "string"
                              },
                              "UserPrincipalName": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "changedFields",
                          "fields",
                          "id"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "azuread": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuread')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuread_3_Connection_Name'))]",
                "connectionName": "[parameters('azuread_3_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuread_3_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "encryptConnection": "[parameters('sql_1_encryptConnection')]",
          "privacySetting": "[parameters('sql_1_privacySetting')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azuread_3_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuread')]"
        },
        "displayName": "[parameters('azuread_3_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('azuread_3_token:TenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}